.form{
	width: 100%;
	// elements
	&__{
        &inline-form{
            @extend .b-grid;
            @extend .b-grid_row;
            .form__input{
                width: 31%;
                padding: 0 1.5rem;
                @media(--tablet-less){
                    width: 100%;
                }
            }
            @media(--tablet-less){
                flex-direction: column;
            }
        }
		&input{
            display: block;
            width: 100%;
            height: 3.75rem;
            padding: 0 2.25rem;
            margin-bottom: 1.5rem;
            border: 2px solid $color__gray_light;
            
            border-radius: 2rem;
            
            font: $font__family_primary;
            font-size: 1.125rem;
            
            color: $color__gray_light;
            
            &_select{
                margin-bottom: 0;
                
                overflow: hidden;
                color: $color__font_primary;
            }
            &:focus{
                border-color: color($color__gray_light l(+20%));
            }
            
            @media(--tablet-less){
                height: 3rem;
                padding: 0 1.5rem;
            }
        }
        &link{
            text-decoration: none;
            color: $color__primary;
            
            &:hover{
                text-decoration: underline;
            }
            &:active{
                color: color($color__primary b(+10%));
            }
        }
        &set{
            @extend .b-grid;
            @extend .b-grid_row;
            align-items: center;
            
            font-size: 1.125rem;
            font-weight: 500;
            @media(--tablet-less){
                flex-direction: column;
                .form__link{
                    margin-top: 1rem;
                }
            }
        }
        &error{
            margin-bottom: -1rem;
            text-align: center;
            color: $color__secondary;
        }
	}
    input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"] + label{
        position: relative;
        display: inline-block;
        
        color: $color__font_light;
        line-height: 2rem;
        cursor: pointer;
    }
    input[type="checkbox"] + label .form__checkbox-icon{
        
        content: "";
        box-sizing: border-box;
        
        display: inline-block;
        vertical-align: middle;
        
        size: 2rem;
        margin-right: 1rem;
        margin-bottom: 2px;
        line-height: 2.25rem;
        
        border: 2px solid $color__primary;
        border-radius: 50%;
        
        text-align: center;
        
        svg{
            size: 80%;
            fill: white;
        }
    }
    input[type="checkbox"]:checked + label .form__checkbox-icon{
        border-color: $color__primary;
        background-color: $color__primary;
    }
}