.share{
    @extend .b-grid;
    @extend .b-grid_centred;
	
	// elements
	&__{
        &link{
            &:not(:first-of-type){
                margin-left: .5em;
            }
        }
		&icon{
            max-size: 30px 20px;
            
            &_vk{
                max-height: 30px;
                fill: #45668e;
            }
            &_ok{
                fill: #ed812b;
            }
            &_fb{
                fill: #3b5998;
            }
        }
	}
}