<div class="share">
    <a href="http://vk.com/share.php" class="share__link">
        <svg class="share__icon share__icon_vk">
            <use xlink:href="assets/img/b-svg.svg#b-svg__social-vk"></use>
        </svg>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php" class="share__link">
        <svg class="share__icon share__icon_fb">
            <use xlink:href="assets/img/b-svg.svg#b-svg__social-facebook"></use>
        </svg>
    </a>
    <a href="http://www.ok.ru/dk?st.cmd=addShare&st.s=1" class="share__link">
        <svg class="share__icon share__icon_ok">
            <use xlink:href="assets/img/b-svg.svg#b-svg__social-ok"></use>
        </svg>
    </a>
</div>