.minicart{
    
    min-size: 170px 60px;
    
    background: color(black a(.25));
    font-weight: 600;
    
    // elements
    &__{
        &total{
            flex: 1;
        }
        &info{
            position: relative;
            margin-right: .5em;
        }
        &icon{
            size: 35px;
            fill: currentColor;
        }
        &amount{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            position: absolute 0 0 * *;
            transform: translate(50%, -25%);
            size: 1.25rem;
            
            font-size: .875rem;
            
            border-radius: 50%;
            background: $color__secondary;
        }
    }
}