<a href="#popup/cart" class="minicart">
    <div class="minicart__total">37560 руб.</div>
    <div class="minicart__info">
        <div class="minicart__amount">2</div>
        <svg class="minicart__icon">
            <use xlink:href="assets/img/b-svg.svg#b-svg__cart"></use>
        </svg>
    </div>
</a>