<div class="callback">
    <div class="callback__icon">
        <svg width="156" height="155" class="callback__status callback__status_error">
            <use xlink:href="assets/img/b-svg.svg#b-svg__error"></use>
        </svg>
    </div>
    <div class="callback__title">ПРОИЗОШЛА ОШИБКА , <br>попробуйте оплатить еще раз</div>
    <a href="#" class="callback__action">ПОВТОРИТЬ</a>
</div>