.callback{
    @extend .b-grid;
    flex-direction: column;
    align-items: center;
    
    margin: 7rem 0;
    
	// elements
	&__{
        &icon{
            position: relative;
            width: 100%;
            max-width: 340px;
            margin: 0 15% 7rem;
            
            @media (--tablet-less) {
                width: 75%;
            }
            
            &:after{
                content: '';
                display: block;
                padding-bottom: 66%;
                
                background-image: url(assets/img/envelope.png);
                background-size: 100% 100%;
            }
        }
        &status{
            position: absolute 0 0 * *;
            transform: translate(40%, -40%);
            
            &_checked{
                fill: $color__blue;
            }
            &_error{
                fill: $color__red;
            }
            
            @media (--tablet-less) {
                size: 50%;
            }
        }
		&title{
            
            text-align: center;
            font-size: 2.125rem;
            font-weight: 700;
            color: $color__primary;
        }
        &link{
            max-width: 25rem;
            width: 25rem;
            display: block;
            
            text-align: center;
            margin-top: 4.75rem;
            
            @media(--tablet-less){
                width: 100%;
            }
        }
        &action{
            @extend .button;
            @extend .button_theme_primary;
            @extend .button_size_secondary;
            
            margin-top: 5rem;
            
            border-radius: 40px;
            color: white;
            
            @media (--tablet-more) {
                min-size: 400px 75px;
            }
        }
	}
}