<div class="callback">
    <div class="callback__icon">
        <svg width="202" height="155" class="callback__status callback__status_checked">
            <use xlink:href="assets/img/b-svg.svg#b-svg__checked"></use>
        </svg>
    </div>
    <div class="callback__title">СПАСИБО! Ваш заказ оформлен! <br>В ближайшее время с Вами свяжется менеджер</div>
    <a href="#" class="callback__action">НА ГЛАВНУЮ</a>
</div>