.button{
    @extend .b-grid;
    @extend .b-grid_centred;
    
    padding: 0 1em;
    outline: 0;
    
    font-weight: 600;
            
    text-transform: uppercase;
    border-radius: 2rem;
    color: $color__white;
    cursor: pointer;
    
    transition: ;
    
    // mods
    &_{
        &theme_{
            &primary{
                background: $color__primary;
                
                &:hover{
                    background: color($color__primary l(+10%));
                }
                &:active{
                    background: color($color__primary b(+10%));
                }
            }
            &secondary{
                background: $color__secondary;
                
                &:hover{
                    background: color($color__secondary l(+10%));
                }
                &:active{
                    background: color($color__secondary b(+10%));
                }
            }
        }
        &size_{
            &primary{
                min-size: 150px 40px;
                
                font-size: .875rem;
            }
            &secondary{
                min-size: 200px 50px;
            }
        }
    }
}