<menu class="menu">
    <div class="menu__title">CТРАНИЦЫ</div>
    <a href="#" class="menu__link">Главная</a>
    <a href="#" class="menu__link">АССОРТИМЕНТ</a>
    <a href="#" class="menu__link">КоНТАКТЫ</a>
</menu>