.menu{
    padding: 0;
    
    font-weight: 500;
    
    text-transform: uppercase;
    transition: ;
    
    @media (--desktop-less) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    // elements
    &__{
        &title{
            @mixin hidden-desktop;
            
            font-size: 1.75rem;
        }
        &link{
            
            color: inherit;
            transition: ;
            
            @media (--desktop-more) {
                margin: 0 1.5rem;
            }
            @media (--desktop-less) {
                
                font-size: 1.25rem;
                
                color: $color__font_primary;
                
                &:not(:first-child) {
                    margin-top: 5vh;
                }
            }
            
            &:hover{
                color: $color__secondary;
            }
            &:active{
                color: color($color__secondary l(+20%));
            }
        }
    }
}