.cart{
    
    padding: 1rem 0;
    
    background-image: url(assets/img/b-svg.svg#teeth);
    background-repeat: repeat-x;
    background-color: $color__gray_light2;
    background-size: 16px 11px;
    
    position: relative;
	
	// elements
    &:after{
        content: '';
        position: absolute * 0 0;
        transform: rotate(180deg);
        height: 1rem;
        
        background-image: inherit;
        background-size: inherit;
        background-repeat: inherit;
    }
	&__{
		&product{
            @extend .b-grid;
            @extend .b-grid_row;
            
            flex-direction: column ?if media (--tablet-less);
            align-items: center;
            
            padding: 1rem 1.5rem;
            
            &:not(:last-child){
                border-bottom: 1px dashed #8b8b8b;
            }
        }
        &body{
            margin: 0 1.6rem ?if media (--tablet-more);
        }
        &info{
            @extend .b-grid;
            align-items: center;
            
            flex-direction: column ?if media (--tablet-less);
        }
        &preview{
            width: 140px;
            min-width: 140px;
            max-width: 140px;
        }
        &title{
            margin: 1rem 0 ?if media (--tablet-less);
            
            font-size: 1.5rem;
            font-weight: 700;
        }
        &number{
            @extend .b-grid;
            align-items: center;
            
            margin-top: .5rem;
            
            &-{
                &text{
                    margin-right: 1rem;
                    font-weight: 500;
                    white-space: nowrap;
                }
            }
        }
        &price{
            margin-top: 1rem ?if media (--tablet-less);
            
            font-size: 1.25rem;
            font-weight: 700;
            
            color: $color__blue;
            
            white-space: nowrap;
        }
        &button{
            @extend .button;
            @extend .button_size_secondary;
            @extend .button_theme_primary;
        }
	}
}