<div class="cart">
    <div class="cart__product">
        <div class="cart__info">
            <div class="cart__preview">
                <img src="http://placehold.alanev.ru/140x100" srcset="http://placehold.alanev.ru/140x100 1x, http://placehold.alanev.ru/280x200 2x" alt="">
            </div>
            <div class="cart__body">
                <div class="cart__title">Квадроцикл “Polaris”</div>
                <div class="cart__number">
                    <span class="cart__number-text">Кол-во</span>
                    <import src="counter"></import>
                </div>
            </div>
        </div>
        <div class="cart__price">13200 руб.</div>
    </div>
    <div class="cart__product">
        <div class="cart__info">
            <div class="cart__preview">
                <img src="http://placehold.alanev.ru/140x100" srcset="http://placehold.alanev.ru/140x100 1x, http://placehold.alanev.ru/280x200 2x" alt="">
            </div>
            <div class="cart__body">
                <div class="cart__title">Квадроцикл “Polaris”</div>
                <div class="cart__number">
                    <span class="cart__number-text">Кол-во</span>
                    <import src="counter"></import>
                </div>
            </div>
        </div>
        <div class="cart__price">13200 руб.</div>
    </div>
</div>