<div class="comments">
    <div class="comments__title">ОТЗЫВЫ</div>
    <div class="comments__recall">
        <div class="comments__recall-preview">
            <img src="http://placehold.alanev.ru/75x75" srcset="http://placehold.alanev.ru/75x75 1x, http://placehold.alanev.ru/150x150 2x" alt="">
        </div>
        <div class="comments__recall-info">
            <div class="comments__recall-title">Ваня Петров</div>
            <div class="comments__recall-body">
                <p>Отличный подарок. Купил для своей дочки на день рождение ей понравился подарок. Поняшка стала приятным дополнением небольшого пони семейства</p>
                <ul>
                    <li>- небольшой размер</li>
                    <li>- хорошо покрашена</li>
                    <li>- очень фотогенична</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="comments__add">
        <form action="action.php" class="form">
            <textarea name="" id="" cols="30" rows="2" class="comments__add-textarea" placeholder="Оставте свой отзыв"></textarea>
            <div class="comments__add-bottom">
                <button class="form__button comments__button">ОСТАВИТЬ ОТЗЫВ</button>
            </div>
        </form>
    </div>
</div>