.comments{
    
    margin: 1rem 0 3rem;
    
    @media(--desktop-less){
        margin: 0;
    }
    
	// elements
	&__{
		&title{
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;
        }
        &recall{
            @extend .b-grid;
            
            margin-top: 1.5rem;
            margin-right: 10rem ?if media (--desktop-more);
            
            @media(--tablet-less){
                flex-direction: column;
            }
            &-{
                &preview{
                    size: 75px;
                    border-radius: 7px;
                    margin-right: 1.5rem;
                    overflow: hidden;
                    
                    @media(--tablet-less){
                        margin: 0 auto 1rem;
                    }
                }
                &info{
                    @media (--tablet-more) {
                        flex: 1;
                    }
                }
                &title{
                    color: $color__primary;
                    font-size: 1.5rem;
                    font-weight: 500;
                    
                    line-height: 1.5rem;
                }
            }
        }
        &add{
            box-sizing: border-box;
            max-width: 100%;
            margin: 2rem 3rem 0;
            @media(--tablet-less){
                margin: 2rem 0 0;
            }
            &-{
                &textarea{
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 100%;
                    height: 5rem;
                    border-radius: 10px;
                    
                    padding: 1.25rem 1.5rem;
                    background-color: $color__gray_light2;
                    border: 1px solid $color__gray_light;
                    
                    font-family: $font__family_primary;
                    color: $color__font_primary;
                }
                &bottom{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
        &button{
            margin-top: 1.5rem;
        }
	}
    ul, ol{
        margin: 0;
        padding: 0;
        list-style:none;
    }
}