.counter{
    @extend .b-grid;
    align-items: stretch;
    
    size: 120px 40px;
    
    font-size: 1.25rem;
    font-weight: 700;
    
    background: white;
    box-shadow: 0 0 0.625rem color(black a(.15));
    
    user-select: none;
	
	// elements
	&__{
        &value,
        &action{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            flex: 1;
        }
        &value{
            min-width: 30px;
            text-align: center;
            
            color: $color__primary;
        }   
        &action{
            // padding: 0 1rem;
            
            font-size: 2rem;
            
            cursor: ;
            
            &:hover{
                background: $color__gray_light2;
            }
            &:active{
                background: color($color__gray_light2 b(+5%));
            }
            
            &:after{
                margin-top: -.25em;
            }
        }
        &inc{
            &:after{
                content: '+';
            }
        }
        &dec{
            &:after{
                content: '-';
            }
        }
	}
}