@define-mixin hidden-tablet {
    @media (--desktop-less) {
        display: none;
    }
}
@define-mixin hidden-mobile {
    @media (--desktop-less) {
        display: none;
    }
}
@define-mixin hidden-desktop {
    @media (--desktop-more) {
        display: none;
    }
}