.footer{
    
    padding: 1.5rem 0;
    border-top: 2px solid $color__gray_light2;
    
    font-size: .8rem;
    
    color: $color__font_light;
    
    .banners + &{
        border-top: 0;
    }
	
	// elements
	&__{
        &content{
            @extend .section__content;
            @extend .b-grid;
            @extend .b-grid_row;
            
            align-items: center;
            
            padding: 0 5vw;
            
        }
        &copyright,
        &social{
            flex: 1;
        }
        &copyright{
            color: $color__font_invisible;
        }
        &menu{
            @mixin hidden-tablet;
            
            &-{
                &link{
                    margin: 0 1.5rem;
                }
            }
        }
        &link{
            color: inherit;
            
            &:hover{
                text-decoration: underline;
            }
        }
        &social{
            
            white-space: nowrap;
            
            text-align: right;
            user-select: none;
            
            &-{
                &link{
                    &:not(:first-child){
                        margin-left: 2rem;
                    }
                }
                &link:hover &icon{
                    fill: $color__secondary;
                }
                &icon{
                    max-size: 20px;
                    fill: currentColor;
                    stroke: currentColor;
                    
                    transition: ;
                }
            }
        }
	}
}