<div class="footer">
    <div class="footer__content">
        <div class="footer__copyright">2016 igramart. Все права защищены</div>
        <div class="footer__menu">
            <a href="#" class="footer__link footer__menu-link">Акции</a>
            <a href="#" class="footer__link footer__menu-link">Оплата и доставка</a>
            <a href="#" class="footer__link footer__menu-link">Гарантия</a>
            <a href="#" class="footer__link footer__menu-link">Сотрудничество</a>
            <a href="#" class="footer__link footer__menu-link">Контакты</a>
        </div>
        <div class="footer__social">
            <a href="#" class="footer__link footer__social-link">
                <svg class="footer__social-icon">
                    <use xlink:href="assets/img/b-svg.svg#b-svg__social-twitter"></use>
                </svg>
            </a>
            <a href="#" class="footer__link footer__social-link">
                <svg class="footer__social-icon">
                    <use xlink:href="assets/img/b-svg.svg#b-svg__social-facebook"></use>
                </svg>
            </a>
            <a href="#" class="footer__link footer__social-link">
                <svg class="footer__social-icon">
                    <use xlink:href="assets/img/b-svg.svg#b-svg__social-google"></use>
                </svg>
            </a>
        </div>
    </div>
</div>