<aside class="aside">
    <div class="aside__section" repeat="2">
        <div class="aside__title" onclick="this.classList.toggle('_active')">ФИЛЬТРЫ</div>
        <div class="aside__filters">
            <import src="filter" class=" aside__filter" repeat="3"></import>
        </div>
    </div>
</aside>