.aside{
    
    @media (--tablet-only) {
        display: flex;
        align-items: flex-start;
    }
	
	// elements
	&__{
		&section{
            
            border: 1px dashed $color__gray_light;
            margin-bottom: $gutter_secondary;
            
            border-radius: $border-radius;
            
            @media (--tablet-only) {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
        &title{
            padding: 1.5rem 1rem;
            
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
            
            text-align: center;
            color: $color__primary;
        }
        &title._active + &filters{
            max-height: 400px;
        }
        &filter{
            border-top: 1px dashed $color__gray_dark;
            
            &s{
                transition: $animation__duration;
                
                @media (--desktop-less) {
                    max-height: 0;
                    overflow: hidden;
                }
            }
        }
	}
}