<div class="popup" data-popup="cart">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__body">
            <div class="popup__title">КОРЗИНА</div>
            <import src="cart"></import>
            <div class="popup__wrap">
                <a href="#" class="popup__button">ОФОРМИТЬ ЗАКАЗ</a>
            </div>
        </div>
	</div>
</div>
<div class="popup" data-popup="login">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__body">
            <div class="popup__title">АВТОРИЗАЦИЯ</div>
            <div class="popup__wrap">
                <form class="form">
                    <input type="email" class="form__input" placeholder="Email">
                    <input type="text" class="form__input" placeholder="Пароль">
                    <div class="form__set">
                        <input type="checkbox" id="remember" name="remember" class="form__checkbox">
                        <label for="remember">
                            <span class="form__checkbox-icon">
                                <svg>
                                    <use xlink:href="assets/img/b-svg.svg#b-svg__checked"></use>
                                </svg>
                            </span>
                            Запомнить меня
                        </label>
                        <a href="#" class="form__link">Забыли пароль?</a>
                    </div>
                    <button class="button popup__button">ВОЙТИ</button>
                </form>
            </div>
        </div>
        <div class="popup__footer">
            <div class="popup__footer-text">У вас еще нету аккаунта?  <a href="#" class="popup__link">Регистрация</a></div>
        </div>
	</div>
</div>
<div class="popup" data-popup="order">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__header">
            <import src="modules/steps/steps.htm"></import>
        </div>
        <div class="popup__body">
            <div class="popup__title">ЭТАП 1. КОНТАКТЫ</div>
            <div class="popup__wrap">
                <form class="form">
                    <input type="text" class="form__input" placeholder="Имя">
                    <input type="text" class="form__input" placeholder="Фамилия">
                    <input type="text" class="form__input" placeholder="Телефон">
                    <input type="email" class="form__input" placeholder="Электронная почта">
                    <button class="button popup__button">ПРОДОЛЖИТЬ</button>
                </form>
            </div>
        </div>
	</div>
</div>
<div class="popup" data-popup="order2">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__header">
            <import src="modules/steps/steps2.htm"></import>
        </div>
        <div class="popup__body">
            <div class="popup__title">ЭТАП 2. ДОСТАВКА</div>
            <div class="popup__wrap">
                <form class="form">
                    <input type="text" class="form__input" placeholder="Улица">
                    <div class="form__inline-form">
                        <input type="text" class="form__input" placeholder="Дом">
                        <input type="text" class="form__input" placeholder="Корпус">
                        <input type="text" class="form__input" placeholder="Квартира">
                    </div>
                    <button class="button popup__button">ПРОДОЛЖИТЬ</button>
                </form>
            </div>
        </div>
	</div>
</div>
<div class="popup" data-popup="order3">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__header">
            <import src="modules/steps/steps2.htm"></import>
        </div>
        <div class="popup__body">
            <div class="popup__title">ЭТАП 3. ОПЛАТА</div>
            <div class="popup__payment-method">Выберете способ оплаты</div>
            <form class="form">
                <div class="popup__wrap">
                    <select name="payment-method" id="payment-method" class="form__input form__input_select">
                        <option value="Наличными за пределами России">Наличными за пределами России</option>
                        <option value="Наличными за пределами России">Наличными за пределами России</option>
                        <option value="Наличными за пределами России">Наличными за пределами России</option>
                    </select>
                </div>
                <div class="popup__total">ИТОГО на 26780 руб.</div>
                
                <div class="popup__wrap">
                    <button class="button popup__button">ОПЛАТИТЬ ЗАКАЗ</button>
                </div>
            </form>
        </div>
	</div>
</div>
<div class="popup" data-popup="office">
	<div class="popup__overlay"></div>
	<div class="popup__content">
		<div class="popup__close"></div>
        <div class="popup__header">
            <import src="modules/steps/steps2.htm"></import>
        </div>
        <div class="popup__body">
            <div class="popup__title">ЛИЧНЫЙ КАБИНЕТ</div>
            <div class="popup__list">
                <div class="popup__list-row">
                    <div class="popup__list-col">Имя:</div>
                    <div class="popup__list-col">Петр</div>
                </div>
                <div class="popup__list-row">
                    <div class="popup__list-col">Фамилия:</div>
                    <div class="popup__list-col">Иванов</div>
                </div>
                <div class="popup__list-row">
                    <div class="popup__list-col">Эл.почта:</div>
                    <div class="popup__list-col">petrivanov@gmail.com</div>
                </div>
                <div class="popup__list-row">
                    <div class="popup__list-col">Телефон:</div>
                    <div class="popup__list-col">+79 123 456 424</div>
                </div>
            </div>
            <div class="popup__line"></div>
            <div class="popup__wrap">
                <form class="form">
                        <input type="text" class="form__input" placeholder="Имя">
                        <input type="text" class="form__input" placeholder="Фамилия">
                        <input type="text" class="form__input" placeholder="Телефон">
                        <div class="form__error">Такая почта уже используеться!</div>
                        <button class="button popup__button">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </form>
            </div>
            <div class="popup__footer">
                <div class="popup__text">Регистрируясь вы соглашаетесь с <a href="#" class="popup__link">пользовательським соглашениям</a> и соглашаетесь с ними</div>
            </div>
        </div>
	</div>
</div>