._lock{
	overflow: hidden;
}
.popup{
    
	position: fixed 0;
	z-index: 500;
    
	background: color(black a(.2));
    
    overflow: auto;
    
    // mods
    &:not(._open){
        display: none;
    }
    
    // elements
    &__{
        &overlay{
            position: absolute 0;
            z-index: 1;
        }
        &content{
            overflow: hidden;
            position: relative;
            z-index: 2;
            
            min-width: 320px;
            width: 600px;
            margin: 50px auto;
            
            border-radius: 1rem;
            background: #fff;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
            
            @media(--tablet-less){
                width: 100%;
                margin: 0;
            }
        }
        &wrap{
            display: flex;
            justify-content: center;
            
            max-width: 450px;
            padding: 0 2rem;
            margin: 0 auto;
            @media(--tablet-less){
                padding: 0 1rem;
            }
        }
        &title{
            margin: 3.125rem 0;
            text-align: center;
            text-transform: uppercase;
            
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
            @media(--tablet-less){
                margin: 2rem 0;
            }
        }
        &link{
            text-decoration: none;
            color: $color__primary;
            
            &:hover{
                text-decoration: underline;
            }
            &:active{
                color: color($color__primary b(+10%));
            }
        }
        &header{
            @extend .b-grid;
            @extend .b-grid_centred;
            height: 6.25rem;
            background-color: $color__gray_light2;
        }
        &button{
            margin: 3.125rem 0;
            @media(--tablet-less){
                margin: 2rem 0;
            }
        }
        &footer{
            @extend .b-grid;
            @extend .b-grid_centred;
            height: 6.25rem;
            text-align: center;
            background-color: $color__gray_light2;
            &-{
                &text{
                    font-weight: 600;
                    font-size: 1.25rem;
                    color: $color__font_light;
                }
            }
        }
        &payment-method{
            text-align: center;
            margin-bottom: 3.125rem;
            
            font-size: 1.125rem;
            color: $color__gray_light;
        }
        &total{
            padding-top: 2.5rem;
            margin-top: 3.125rem;
            
            text-align: center;
            font-size: 1.875rem;
            font-weight: 600;
            line-height: 1.875rem;
            border-top: 1px dashed #8b8b8b;
        }
        &text{
            margin: 0 2rem;
        }
        &list{
            margin: 0 3rem;
            @media(--tablet-less){
                margin: 0 1rem;
            }
            &-{
                &row{
                    display: flex;
                    margin: 0.5rem 0;
                    @media(--tablet-less){
                        flex-direction: column;
                    }
                }
                &col{
                    width: 50%;
                    font-size: 1.25rem;
                    @media(--tablet-less){
                        width: 100%;
                    }
                }
            }
        }
        &line{
            margin: 3.125rem 0;
            border-bottom: 1px dashed #8b8b8b;
        }
        &button{
            @extend .button;
            @extend .button_theme_primary;
            @extend .button_size_secondary;
            
            width: 100%;
        }
        &close{
            position: absolute 1rem 1rem * *;
            z-index: 100;
            
            size: 2rem;
            border: 1px solid $color__gray_light;
            
            font-size: 2.2rem;
            
            border-radius: 50%;
            color: $color__gray_light;
            cursor: pointer;
            
            @media (--tablet-less) {
                top: .5rem;
                right: .5rem;
            }
            
            &:after{
                content: '+';
                
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                
                display: block;
                
                font-family: Arial;
                
                transition: ;
            }
            &:hover{
                background: $color__gray_light;
                border-color: transparent;
                color: white;
            }
            &:active{
                background: $color__gray_light2;
                border-color: transparent;
                color: white;
            }
        }
    }
}