body {
	margin: 0;
}
a[class] {
    outline: 0;
    
	text-decoration: none;
}
button,
input,
select,
textarea {
	padding: 0;
	border: 0;
	margin: 0;
    outline: 0;
	font-family: inherit;
	font-size: inherit;
	background: none;
	color: inherit;
}
* {
	max-width: 100%;
	box-sizing: border-box;
	&:after,
	&:before {
		box-sizing: border-box;
	}
}