.lang{
    display: block;
	
	// elements
    &s{
        position: relative;
        
        // mods
        &:hover &__more{
            visibility: visible;
            opacity: 1;
        }
        
        // elements
        &__{
            &more{
                position: absolute 100% 0 * 0;
                visibility: hidden;
                opacity: 0;
                transition: $animation__duration;
            }
        }
    }
	&__{
		&icon{
            max-size: 25px;
        }
	}
}