<div class="langs">
    <span class="lang lang_ru">
        <svg class="lang__icon">
            <use xlink:href="assets/img/b-svg.svg#b-svg__flag-ru"></use>
        </svg>
    </span>
    <div class="langs__more">
        <a href="#" class="lang lang_ua">
            <svg class="lang__icon">
                <use xlink:href="assets/img/b-svg.svg#b-svg__flag-ua"></use>
            </svg>
        </a>
        <a href="#" class="lang lang_en">
            <svg class="lang__icon">
                <use xlink:href="assets/img/b-svg.svg#b-svg__flag-uk"></use>
            </svg>
        </a>
    </div>
</div>