<div class="product">
    <div class="product__title">TY My Little Pony Rarity 32 см</div>
    <div class="product__share">
        <div class="product__share-title">Поделиться:</div>
        <import src="share"></import>
    </div>
    <div class="product__body">
        <div class="product__gallery">
            <import src="modules/gallery/gallery.htm"></import>
        </div>
        <div class="product__info">
            <div class="product__availability">
                <div class="product__in-stock">ЕСТЬ В НАЛИЧИИ</div>
                <div class="product__price product__price_old">
                    <div class="product__price-value">8772</div>
                    <div class="product__price-nom">руб.</div>
                </div>
                <div class="product__price">
                    <div class="product__price-value">6000</div>
                    <div class="product__price-nom">руб.</div>
                </div>
            </div>
            <div class="product__actions">
                <a href="#" class="product__action">КУПИТЬ</a>
                <a href="#" class="product__action">ДОБАВИТЬ В КОРЗИНУ</a>
            </div>
        </div>
    </div>
    <div class="product__details">
        <div class="product__box">
            <div class="product__subtitle">Описание</div>
            <div class="product__text">
                <p>Rainbow Dash — это весьма интересный персонаж анимационного сериала "My Little Pony" ("Дружба – это чудо"), который воплощен в яркой игрушке серии TY.</p>
                <p>Очаровательная мягкая игрушка, выполненная в виде милого животного, вызовет умиление и улыбку у каждого, кто ее увидит. Игрушка удивительно приятна на ощупь, а специальные гранулы, используемые при ее набивке, способствуют развитию мелкой моторики рук малыша. Мягкая игрушка может стать милым подарком, а может быть и лучшим другом на все времена. Каждая девочка с огромным удовольствием погрузиться в мир сказки и волшебства, играя с милым пони.</p>
                <p>Быстро восстанавливает свою форму после смятия, имеет высокую стойкость к сохранению своей формы с течением времени.</p>
            </div>
        </div>
        <div class="product__box">
            <div class="product__subtitle">Технические характеристики</div>
            <dl class="product__list">
                <dt class="product__list-col">Тип</dt>
                <dd class="product__list-col">Герои мультфильмов и кино</dd>
                <dt class="product__list-col">Размер игрушки</dt>
                <dd class="product__list-col">32 см</dd>
                <dt class="product__list-col">Музыкальное сопровождение</dt>
                <dd class="product__list-col">Нет</dd>
                <dt class="product__list-col">Цвет</dt>
                <dd class="product__list-col">Белый, Фиолетовый</dd>
                <dt class="product__list-col">Гарантия</dt>
                <dd class="product__list-col">14 дней</dd>
            </dl>
        </div>
    </div>
</div>