.product{
    margin-top: 1rem;
    
	// elements
	&__{
        &title{
            font-size: 1.5rem;
            font-weight: 700;
        }
		&body{
            @extend .b-grid;
            @extend .b-grid_row;
            
            margin-top: 1rem;
            
            @media(--desktop-less){
                flex-direction: column;
                align-items: center;
            }
        }
        &gallery{
            flex: 1;
            padding-right: 2rem;
            
            @media(--desktop-less){
                width: 100%;
                min-width: 100%;
                padding-right: 0;
            }
        }
        &info{
            display: flex;
            flex-direction: column;
            
            @media(--desktop-less){
                margin-top: 2rem;
            }
        }
        &share{
            @extend .b-grid;
            
            align-items: center;
            
            margin-top: .5rem;
            
            &-{
                &title{
                    margin-right: 1rem;
                }
            }
        }
        &social-link{
            margin: 0 0.5rem;
        }
        &in-stock{
            margin-bottom: 0.5rem;
            
            font-size: 1.25rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $color__primary;
        }
        &price{
            @extend .b-grid;
            align-items: flex-end;;
            
            font-weight: 700;
            
            color: $color__primary;
            
            &-{
                &value{
                    font-size: 3.125rem;
                    line-height: 1;
                }
                &nom{
                    align-self: flex-end;
                    
                    margin-left: 1rem;
                    font-size: 1.125rem;
                    line-height: 1.5;
                }
            }
            
            &_old{
                position: relative;
                
                color: $color__font_light;
                
                &:after{
                    content: '';
                    
                    position: absolute 50% 0 * 0;
                    
                    height: 4px;
                    
                    background-color: $color__secondary;
                }
            }
        }
        &actions{
            margin-top: 0.5rem;
            color: $color__white;
        }
        &action{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            width: 9.375rem;
            height: 3.75rem;
            
            margin-top: 1rem;
            text-align: center;
            
            font-weight: 700;
            
            transition: ;
            background-color: $color__primary;
            color: inherit;
            
            &:hover{
                background-color: color($color__primary l(+10%));
            }
            &:active{
                background: color($color__primary b(+10%));
            }
        }
        &section{
            @media(--desktop-only){
                display: flex;
                align-items: flex-end;
            }
        }
        &availability{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            @media(--desktop-only){
                margin-right: 2rem;
            }
        }
        &details{
            @extend .b-grid;
            @extend .b-grid_row;
            flex-direction: column ?if media (--desktop-less);
        }
        &box{
            min-width: 35%;
            margin-top: 2rem;
            
            &:not(:last-child){
                margin-right: 3rem;
            }
            
            p{
                font-size: 1.25rem;
            }
        }
        &subtitle{
            font-size: 150%;
            font-weight: 700;
        }
        &list{
            @extend .b-grid;
            flex-wrap: wrap;
            
            width: 100%;
            margin: 1rem 0 0;
            
            font-size: .825rem;
            
            @media(--tablet-less){
                flex-direction: column;
            }
            
            &-{
                &col{
                    margin: 0;
                    
                    dd&{
                        margin-bottom: 1rem;
                    }
                    
                    @media (--tablet-more) {
                        width: 50%;
                    }
                    @media(--tablet-less){
                        width: 100%;
                        
                        dd&{
                            text-align: right;
                        }
                    }
                    
                    &:nth-child(2n){
                        color: $color__primary;
                    }
                }
            }
        }
	}
}