<header class="header">
    <div class="header__content">
        <svg class="header__toggle" onclick="document.querySelector('.header').classList.toggle('_open')">
            <use xlink:href="assets/img/b-svg.svg#b-svg__menu"></use>
        </svg>
        <a href="#" class="header__logo">
            <svg class="header__logo-icon" aria-hidden="true">
                <use xlink:href="assets/img/b-svg.svg#b-svg__logo"></use>
            </svg>
        </a>
        <import src="menu" class=" header__menu"></import>
        <div class="header__actions">
            <import src="minicart" class=" header__action header__cart"></import>
            <a href="#popup/login" class="header__action header__login">МОЙ АККаунт</a>
        </div>
        <import src="lang" class=" header__langs"></import>
    </div>
</header>