.header{
    
    position: absolute 0 0 *;
    z-index: 200;
    
    color: $color__white;
    
    @media (--desktop-less) {
        position: absolute;
        
        // mods
        &._open{
            background: black;
            min-height: 100vh;
        }
        &._open &{
            &__{
                &cart{
                    @media (--tablet-only) {
                        display: none;
                    }
                }
            }
        }
        &:not(._open) &{
            &__{
                &menu,
                &login{
                    display: none;
                }
            }
        }
    }
	
	// elements
	&__{
        &toggle{
            @mixin hidden-desktop;
            
            position: absolute calc($header__offset * 1.5) * * $header__offset;
            transform: translateY(-50%);
            
            max-size: 30px;
            
            stroke: currentColor;
            cursor: pointer;
        }
		&content{
            @extend .b-grid;
            @extend .b-grid_row;
            @extend .section__content;
            
            position: relative;
            
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            
            @media (--desktop-more) {
                align-items: center;
            }
            @media (--desktop-less) {
                min-height: inherit;
                padding-left: 70px;
                
                align-items: flex-start;
                flex-direction: column;
            }
        }
        &logo{
            color: inherit;
            
            &-{
                &icon{
                    size: 194px 25px;
                    fill: currentColor;
                    
                    @media (--widedesktop-less) {
                        size: 140px 20px;
                    }
                }
            }
        }
        &menu{
            @media (--desktop-less) {
                flex: 1;
            }
        }
        &action{
            @extend .button;
            @extend .button_size_secondary;
            
            // mods
            &:not(:last-child){
                @media (--tablet-more) {
                    margin-right: 1.5rem;
                }
                @media (--tablet-less) {
                    margin-bottom: 1rem;
                }
            }
            
            // wrap
            &s{
                @extend .b-grid;
                
                @media (--tablet-less) {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        &cart{
            
            transition: ;
            border: 2px solid transparent;
            
            &:hover{
                background: transparent;
                border-color: currentColor;
            }
            &:active{
                background: white;
                color: black;
            }
            
            @media (--tablet-only) {
                position: absolute $header__offset 15vw * *;
                transform: translateY(-25%);
            }
            @media (--tablet-less) {
                border: 2px solid;
                margin-right: 0;
                margin-top: 2rem;
            }
        }
        &login{
            border: 2px solid currentColor;
            color: inherit;
            
            transition: ;
            
            &:hover{
                background: white;
                border-color: transparent;
                color: black;
            }
            &:active{
                background: color(white a(.7));
            }
        }
        &langs{
            margin-left: 1rem;
            
            @media (--desktop-less) {
                position: absolute $header__offset 10vw * *;
            }
        }
	}
}