// direct
$color__white: #fff;
$color__black: #000;
$color__red: #e74c3c;
$color__green-blue: #5fcdd8;
$color__blue: #007cff;
$color__purple: #b13ce7;
$color__gray_dark: #272727;
$color__gray_light: #999;
$color__gray_light2: #eaeaea;

// abstract
$color__primary: $color__blue;
$color__secondary: $color__red;
$color__tertiary: $color__purple;

// font
$color__font_primary: $color__gray_dark;
$color__font_light: $color__gray_light;
$color__font_invisible: #ccc;
$color__font_secondary: #864;

// intro
$color__intro_gradient_start: #333356;
$color__intro_gradient_end: #007CFF;