// families

$font__family_sans-serif: Exo 2, Arial, Helvetica, sans-serif;
$font__family_monospace: monospace;
$font__family_serif: 'Times New Roman', Times, serif;

$font__family_primary: $font__family_sans-serif;
$font__family_secondary: $font__family_serif;

// sizes
$font__size: 16px;
