
$content: 1290px;

$gutter: 1rem;
$gutter_secondary: 50px;

$border-radius: 10px;

$rem: 16px;
$rem_tablet: 14px;
$rem_phone: 12px;

// header
$header__height: 100px;
$header__offset: 1.5rem;

// intro
$intro__clouds_height: 170px;