.intro{
    
    padding: $header__height 0 $intro__clouds_height;
    background-image: url(assets/img/clouds.svg), url(assets/img/back-clouds.svg);
    background-repeat: no-repeat;
    background-position: center bottom, center bottom 20px;
    
    color: white;
    
    position: relative;
    overflow: hidden;
    
    @media (--tablet-less) {
        background-size: auto 100px;
    }
    @media (--widedesktop-more) {
        background-repeat: repeat-x;
    }
    
	// elements
    &:before,
    &:after
    {
        content: '';
        position: absolute 0 0 *;
        height: 100%;
    }
    &:before{
        z-index: -20;
        background-image: url(assets/img/stars.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        opacity: .3;
    }
    &:after{
        z-index: -30;
        min-height: 620px;
        background-color: $color__intro_gradient_start;
        background-image: linear-gradient($color__intro_gradient_start 0%, $color__intro_gradient_end 100%);
    }
    .gallery__img{
        animation: fadeInRight $transition;
    }
	&__{
        &line{
            position: relative -5px * *;
            height: 10px;
            background: white;
        }
        &content{
            @extend .b-grid;
            @extend .b-grid_row;
            @extend .section__content;
            
            @media (--tablet-more) {
                margin-top: 3rem;
            }
            @media (--tablet-less) {
                margin-top: 5rem;
            }
        }
        &gallery{
            @mixin hidden-tablet;
            
            width: 445px;
            margin-right: 5rem;
        }
        &article{
            flex: 1;
            display: flex;
            flex-direction: column;
            
            &._active{
                animation: fadeInRight $transition;
            }
            &:not(._active){
                display: none;
                transform: translateX(100px);
            }
        }
		&title{
            margin-bottom: .75rem;
            
            font-size: 2rem;
            font-weight: 600;
        }
        &text{
            font-style: italic;
            line-height: 1.6;
        }
        &more{
            @extend .button;
            @extend .button_theme_secondary;
            @extend .button_size_primary;
            
            align-self: flex-end;
            
            margin-top: 1.5rem;
        }
	}
}