<div class="intro">
    <div class="intro__content">
        <div class="intro__gallery">
            <import src="modules/gallery/gallery--mini.htm"></import>
        </div>
        <div class="intro__article _active">
            <div class="intro__title">Ваш ребенок мечтатель? <br>Помогите ребенку осуществить мечту!</div>
            <div class="intro__text">Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Равным образом укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="intro__more">ПОДРОБНЕЕ</a>
        </div>
        <div class="intro__article">
            <div class="intro__title">2Ваш ребенок мечтатель? <br>Помогите ребенку осуществить мечту!</div>
            <div class="intro__text">Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Равным образом укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="intro__more">ПОДРОБНЕЕ</a>
        </div>
        <div class="intro__article">
            <div class="intro__title">3Ваш ребенок мечтатель? <br>Помогите ребенку осуществить мечту!</div>
            <div class="intro__text">Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Равным образом укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="intro__more">ПОДРОБНЕЕ</a>
        </div>
        <div class="intro__article">
            <div class="intro__title">4Ваш ребенок мечтатель? <br>Помогите ребенку осуществить мечту!</div>
            <div class="intro__text">Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия. Равным образом укрепление и развитие структуры способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Таким образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</div>
            <a href="#" class="intro__more">ПОДРОБНЕЕ</a>
        </div>
    </div>
</div>
<div class="intro__line"></div>