<div class="breadcrumbs">
    <div class="breadcrumbs__content">
        <div class="breadcrumbs__body">
            <a href="#" class="breadcrumbs__link">Главная</a>
            <a href="#" class="breadcrumbs__link">Мягкие игрушки</a>
            <a class="breadcrumbs__link">TY My Little Pony Rarity 32 см</a>
        </div>
    </div>
</div>