.breadcrumbs{
    @extend .section__content;
	// elements
	&__{
        &body{
            display: flex;
            flex-wrap: wrap;
        }
		&link{
            display: block;
            
            font-weight: 500;
            color: inherit;
            &:not(:last-child){
                position: relative;
                padding-right: 1rem;
                margin-right: 1rem;
                color: $color__primary;
                &:after{
                    content: "";
                    size: 0.625rem;
                    
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(50%, -50%);
                    
                    border: 1px solid $color__primary;
                    border-radius: 50%;
                }
            }
        }
	}
}