<div class="steps">
    <div class="steps__line"></div>
    <div class="steps__item">
        <div class="steps__number">1</div>
        <div class="steps__name">Контакты</div>
    </div>
    <div class="steps__item _active">
        <div class="steps__number">2</div>
        <div class="steps__name">Доставка</div>
    </div>
    <div class="steps__item _active">
        <div class="steps__number">3</div>
        <div class="steps__name">Оплата</div>
    </div>
</div>