.steps{
    @extend .b-grid;
    
    padding: 0 1rem ?if media (--tablet-less);
    
    position: relative;
    
	// elements
	&__{
        &line{
            content: '';
            position: absolute 1rem * * 50%;
            transform: translate(-50%, -50%);
            
            width: calc(100% - 8rem);
            height: 3px;
            
            background-color: $color__primary;
        }
		&item{
            position: relative;
            z-index: 2;
            
            width: 8rem;
            text-align: center;
        }
        &item._active &number{
            background-color: $color__primary;
            color: $color__white;
        }
        &number{
            size: 2rem;
            margin: 0 auto;
            border-radius: 50%;
            
            line-height: 1.8rem;
            font-weight: 700;
            
            background-color: $color__white;
            box-shadow: 0 0 15px rgba(0, 124, 255, 0.25);
        }
        &name{
            margin-top: 0.3rem;
            font-weight: 500;
        }
	}
}