<div class="cards cards_carousel">
    <div class="cards__title">Популярные товары</div>
    <div class="cards__carousel">
        <import src="card" repeat="10"></import>
    </div>
</div>
<div class="cards cards_carousel cards_sale">
    <div class="cards__title">Акционные товары</div>
    <div class="cards__carousel">
        <import src="card" repeat="10"></import>
    </div>
</div>