.card{
    @extend .b-grid;
    
    max-width: 290px;
    min-height: 450px;
    border: 1px solid $color__gray_light;
    margin: 0 0 $gutter_secondary;
    
    border-radius: $border-radius;
    text-align: center;
    
    flex-direction: column;
    align-items: center;
    
    // mod
    &:hover{
        border-color: $color__tertiary;
    }
    &:hover &__actions{
        opacity: 1;
    }
    &_{
        &sale{
            border-color: $color__secondary;
        }
    }
	
	// elements
	&__{
        &title,
        &category,
        &preview,
        &desc{
            padding: 0 1rem;
        }
        &title{
            margin: 1.5rem 0 .75rem;
            
            font-size: 1.5rem;
            font-weight: 500;
            font-style: italic;
            line-height: 1;
        }
        &category{
            margin: 0 0 .75rem;
            
            color: $color__gray_light;
        }
        &desc{
            margin: .75rem 0;
            
            font-style: italic;
        }
        &preview{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            flex: 1;
            
            position: relative;
        }
        &action{
            @extend .button;
            @extend .button_size_primary;
            @extend .button_theme_secondary;
            
            &:not(:last-child){
                margin-bottom: .25rem;
            }
            
            &s{
                @extend .b-grid;
                @extend .b-grid_centred;
                
                position: absolute 0;
                
                background: color(white a(.8));
                opacity: 0;
                transition: $animation__duration;
                
                flex-direction: column;
            }
        }
        &price{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            width: 100%;
            min-height: 65px;
            border-top: 2px dashed $color__gray_light2;
            
            line-height: 1;
            
            flex-direction: column;
            
            &-{
                &actual{
                    font-size: 1.5rem;
                    font-weight: 600;
                    
                    color: $color__primary;
                }
                &old{
                    font-weight: 500;
                    
                    color: $color__font_light;
                    
                    position: relative;
                    
                    &:after{
                        content: '';
                        position: absolute 50% 0 *;
                        
                        border-bottom: 1px solid $color__red;
                    }
                }
            }
        }
	}
    
    // wrap
    &s{
        
        &_{
            &catalog{
                @extend .b-grid;
                flex-wrap: wrap;
                
                @media (--tablet-less) {
                    justify-content: center;
                }
                
                .card{
                    @media (--widedesktop-more) {
                        &:not(:nth-child(3n)) {
                            margin-right: 1.5rem;
                        }
                    }
                    @media (--desktop-only) {
                        &:not(:nth-child(2n)) {
                            margin-right: 4rem;
                        }
                    }
                    @media (--tablet-only) {
                        &:not(:nth-child(2n)) {
                            margin-right: 1rem;
                        }
                    }
                }
            }
            &carousel{
                margin: 2rem 0;
            }
        }
        &__carousel{
            
            // height: 450px;
            
            @media (--desktop-more) {
                padding: 0 1.5rem;
            }
            
            .card{
                margin-bottom: 0;
                
                &:first-child{
                    margin-left: 2px; // hack for chrome
                }
                @media (--hd-more) {
                    margin-right: 1.8rem;
                }
                @media (--widedesktop-only) {
                    margin-right: 1.2rem;
                }
                @media (--desktop-more) {
                    width: 280px;
                }
                @media (--desktop-less) {
                    width: 288px;
                }
                @media (--desktop-only) {
                    margin-right: 3rem;
                }
                @media (--tablet-only) {
                    margin-right: 3rem;
                }
                @media (--tablet-less) {
                    margin-right: 1rem;
                }
            }
            &__{
                &wrapper{
                    overflow: hidden;
                }
                &list{
                    
                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                    }
                    
                    min-width: 1000000px;
                    
                }
            }
        }
        &__{
            &title{
                margin-bottom: 1em;
                
                font-size: 1.25rem;
                font-weight: 600;
                
                text-transform: uppercase;
                
                .cards_carousel &{
                    padding: 0 1.5rem;
                }
                .cards_sale &{
                    color: $color__red;
                }
            }
        }
    }
}