<div class="card">
    <div class="card__title">Сказочный дракон “Дракошка”</div>
    <div class="card__category">Мягкие игрушки</div>
    <div class="card__preview">
        <img src="http://placehold.alanev.ru/210x190" alt="Сказочный дракон Дракошка" class="card__image" srcset="http://placehold.alanev.ru/210x190 1x, http://placehold.alanev.ru/420x380 2x">
        <div class="card__actions">
            <div class="card__action card__more">ПОДРОБНЕЕ</div>
            <div class="card__action card__buy">КУПИТЬ</div>
            <div class="card__action card__add">ПОЛОЖИТЬ <br>В КОРЗИНУ</div>
        </div>
    </div>
    <div class="card__desc">Квадроцикл JetRunner Big Beach Racer CT-658 оранжевый</div>
    <div class="card__price">
        <div class="card__price-old">22000 руб.</div>
        <div class="card__price-actual">11000 руб.</div>
    </div>
</div>