<div class="gallery">
    <div class="gallery__previews">
        <div class="gallery__preview _active">
            <img src=":50x70" alt="" srcset="http://placehold.alanev.ru/50x70 1x, http://placehold.alanev.ru/100x140 2x">
        </div>
        <div class="gallery__preview">
            <img src=":50x70/458" alt="" srcset="http://placehold.alanev.ru/50x70/458 1x, http://placehold.alanev.ru/100x140/458 2x">
        </div>
        <div class="gallery__preview">
            <img src=":50x70/123" alt="" srcset="http://placehold.alanev.ru/50x70/123 1x, http://placehold.alanev.ru/100x140/123 2x">
        </div>
        <div class="gallery__preview">
            <img src=":50x70/234" alt="" srcset="http://placehold.alanev.ru/50x70/234 1x, http://placehold.alanev.ru/100x140/234 2x">
        </div>
        <div class="gallery__preview">
            <img src=":50x70/345" alt="" srcset="http://placehold.alanev.ru/50x70/345 1x, http://placehold.alanev.ru/100x140/345 2x">
        </div>
        <div class="gallery__preview gallery__360">
            360°
        </div>
    </div>
    <div class="gallery__images">
        <div class="gallery__zoom">
            <svg>
                <use xlink:href="assets/img/b-svg.svg#b-svg__loop"></use>
            </svg>
        </div>
        <div class="gallery__img _active">
            <img src=":700x505" alt="" srcset="http://placehold.alanev.ru/700x505 1x, http://placehold.alanev.ru/1400x1010 2x">
        </div>
        <div class="gallery__img">
            <img src=":700x505/458" alt="" srcset="http://placehold.alanev.ru/700x505/458 1x, http://placehold.alanev.ru/1400x1010/458 2x">
        </div>
        <div class="gallery__img">
            <img src=":700x505/123" alt="" srcset="http://placehold.alanev.ru/700x505/123 1x, http://placehold.alanev.ru/1400x1010/123 2x">
        </div>
        <div class="gallery__img">
            <img src=":700x505/234" alt="" srcset="http://placehold.alanev.ru/700x505/234 1x, http://placehold.alanev.ru/1400x1010/234 2x">
        </div>
        <div class="gallery__img">
            <img src=":700x505/345" alt="" srcset="http://placehold.alanev.ru/700x505/345 1x, http://placehold.alanev.ru/1400x1010/345 2x">
        </div>
        <div class="gallery__img">
            <import src="lib-360"></import>
        </div>
    </div>
</div>