.gallery{
    @extend .b-grid;
    
    @media(--tablet-less){
        flex-direction: column;
    }
    
    // mods
    &_mini &__{
        &preview{
            border: 0;
            
            &._active{
                box-shadow: 0 0 0 2px white;
            }
            img{
                size: 100%;
            }
        }
        &images{
            border: 0;
            padding: 0;
        }
        &img{
            margin: 0;
        }
    }
    
	// elements
	&__{
        &previews{
            display: flex;
            flex-direction: column-reverse ?if media (--tablet-more);
            
            @media(--tablet-less){
                flex-wrap: wrap;
                justify-content: center;
                margin-left: -1rem;
            }
        }
        &preview{
            display: flex;
            justify-content: center;
            align-items: center;
            
            size: 5rem;
            border: 2px solid $color__gray_light2;
            
            border-radius: 0.625rem;
            transition: ;
            cursor: ;
            
            overflow: hidden;
            
            @media(--tablet-less){
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
            
            &:not(:first-child){
                margin-bottom: 1rem;
            }
            &._active{
                border-color: $color__primary;
            }
            
            img{
                object-fit: cover;
            }
        }
        &360{
            font-size: 150%;
            font-weight: 700;
            color: $color__primary;
        }
        &images{
            
            min-height: 20rem;
            
            margin-left: 1rem;
            border: 2px solid $color__gray_light2;
            
            border-radius: 0.625rem;
            
            position: relative;
            
            @media (--tablet-more) {
                flex: 1;
            }
            @media(--tablet-less){
                margin-left: 0;
            }
        }
        &zoom{
            position: absolute 10px * * 10px;
            z-index: 100;
            cursor: ;
            
            fill: black;
            
            &._active{
                display: none;
            }
            &:hover{
                fill: color(black a(.6));
            }
            &:active{
                fill: color(black a(.2));
            }
            
            svg{
                size: 40px;
            }
        }
		&img{
            @extend .b-grid;
            @extend .b-grid_centred;
            
            position: absolute 0;
            
            border-radius: inherit;
            
            overflow: hidden;
            
            @media(--tablet-less){
                padding: 1rem;
            }
            img{
                object-fit: contain;
                
                @media(--tablet-less){
                    width: 100%;
                    height: auto;
                }
            }
            &:not(._active){
                display: none;
            }
        }
	}
}