<div class="gallery gallery_mini">
    <div class="gallery__previews">
        <div class="gallery__preview _active">
            <img src=":70x70" alt="" srcset="http://placehold.alanev.ru/70x70 1x, http://placehold.alanev.ru/140x140 2x">
        </div>
        <div class="gallery__preview">
            <img src=":70x70/458" alt="" srcset="http://placehold.alanev.ru/70x70/458 1x, http://placehold.alanev.ru/140x140/458 2x">
        </div>
        <div class="gallery__preview">
            <img src=":70x70/123" alt="" srcset="http://placehold.alanev.ru/70x70/123 1x, http://placehold.alanev.ru/140x140/123 2x">
        </div>
        <div class="gallery__preview">
            <img src=":70x70/234" alt="" srcset="http://placehold.alanev.ru/70x70/234 1x, http://placehold.alanev.ru/140x140/234 2x">
        </div>
    </div>
    <div class="gallery__images">
        <div class="gallery__img _active">
            <img src=":370x390" alt="" srcset="http://placehold.alanev.ru/370x390 1x, http://placehold.alanev.ru/740x780 2x">
        </div>
        <div class="gallery__img">
            <img src=":370x390/458" alt="" srcset="http://placehold.alanev.ru/370x390/458 1x, http://placehold.alanev.ru/740x780/458 2x">
        </div>
        <div class="gallery__img">
            <img src=":370x390/123" alt="" srcset="http://placehold.alanev.ru/370x390/123 1x, http://placehold.alanev.ru/740x780/123 2x">
        </div>
        <div class="gallery__img">
            <img src=":370x390/987" alt="" srcset="http://placehold.alanev.ru/370x390/234 1x, http://placehold.alanev.ru/740x780/234 2x">
        </div>
    </div>
</div>