.section{
	
	// elements
	&__{
		&content{
            width: 100%;
            padding: 0 1rem;
            margin: 0 auto;
            
            @media (--hd-more) {
                max-width: $content;
            }
            @media (--widedesktop-only) {
                max-width: 1260px;
            }
            @media (--desktop-only) {
                max-width: 1024px;
            }
            @media (--desktop-only) {
                max-width: 1024px;
            }
            @media (--tablet-only) {
                max-width: 700px;
                padding-left: 5vw;
                padding-right: 5vw;
            }
            @media (--tablet-less) {
                max-width: 320px;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
        &row{
            @extend .b-grid;
            @extend .b-grid_row;
            
            @media (--desktop-less) {
                flex-direction: column;
            }
        }
        &aside{
            @media (--desktop-more) {
                width: 270px;
                margin-right: 2rem;
            }
        }
        &main{
            @media (--desktop-more) {
                flex: 1;
            }
        }
	}
}