/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/
#threesixty {
	position:absolute 0;
	/* This one fixes the IE positioning bug */
	overflow:hidden;
    cursor: grab;
    
    &:active,
    &._grabbing{
        cursor: grabbing;
    }
    
    ol{
        list-style: none;
    }
}
/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}
/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty img {
	position:absolute 50% * * 50%;
    transform: translate(-50%, -50%);
	width:100%;
	height:auto;
}
/*
	Sets the style of the visible current frame of the image slider animation
*/
.current-image {
	visibility:visible;
	width:100%;
}
/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}
/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
    transform: translate(-50%, -50%);
    
    width: 100px;
    text-align: center;
    
	display:none;
}
#spinner:after{
    content: '';
	position:absolute;
	left:50%;
	top:50%;
    transform: translate(-50%, -50%);
    
    size: 1em;
    border-radius: 50%;
    animation: load5 1.1s infinite ease;
    color: black;
    
    font-size: 1rem;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically 
*/
#spinner span {
    
	color:#333;
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #333333, 1.8em -1.8em 0 0em rgba(51,51,51, 0.2), 2.5em 0em 0 0em rgba(51,51,51, 0.2), 1.75em 1.75em 0 0em rgba(51,51,51, 0.2), 0em 2.5em 0 0em rgba(51,51,51, 0.2), -1.8em 1.8em 0 0em rgba(51,51,51, 0.2), -2.6em 0em 0 0em rgba(51,51,51, 0.5), -1.8em -1.8em 0 0em rgba(51,51,51, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.7), 1.8em -1.8em 0 0em #333333, 2.5em 0em 0 0em rgba(51,51,51, 0.2), 1.75em 1.75em 0 0em rgba(51,51,51, 0.2), 0em 2.5em 0 0em rgba(51,51,51, 0.2), -1.8em 1.8em 0 0em rgba(51,51,51, 0.2), -2.6em 0em 0 0em rgba(51,51,51, 0.2), -1.8em -1.8em 0 0em rgba(51,51,51, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.5), 1.8em -1.8em 0 0em rgba(51,51,51, 0.7), 2.5em 0em 0 0em #333333, 1.75em 1.75em 0 0em rgba(51,51,51, 0.2), 0em 2.5em 0 0em rgba(51,51,51, 0.2), -1.8em 1.8em 0 0em rgba(51,51,51, 0.2), -2.6em 0em 0 0em rgba(51,51,51, 0.2), -1.8em -1.8em 0 0em rgba(51,51,51, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.2), 1.8em -1.8em 0 0em rgba(51,51,51, 0.5), 2.5em 0em 0 0em rgba(51,51,51, 0.7), 1.75em 1.75em 0 0em #333333, 0em 2.5em 0 0em rgba(51,51,51, 0.2), -1.8em 1.8em 0 0em rgba(51,51,51, 0.2), -2.6em 0em 0 0em rgba(51,51,51, 0.2), -1.8em -1.8em 0 0em rgba(51,51,51, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.2), 1.8em -1.8em 0 0em rgba(51,51,51, 0.2), 2.5em 0em 0 0em rgba(51,51,51, 0.5), 1.75em 1.75em 0 0em rgba(51,51,51, 0.7), 0em 2.5em 0 0em #333333, -1.8em 1.8em 0 0em rgba(51,51,51, 0.2), -2.6em 0em 0 0em rgba(51,51,51, 0.2), -1.8em -1.8em 0 0em rgba(51,51,51, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.2), 1.8em -1.8em 0 0em rgba(51,51,51, 0.2), 2.5em 0em 0 0em rgba(51,51,51, 0.2), 1.75em 1.75em 0 0em rgba(51,51,51, 0.5), 0em 2.5em 0 0em rgba(51,51,51, 0.7), -1.8em 1.8em 0 0em #333333, -2.6em 0em 0 0em rgba(51,51,51, 0.2), -1.8em -1.8em 0 0em rgba(51,51,51, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.2), 1.8em -1.8em 0 0em rgba(51,51,51, 0.2), 2.5em 0em 0 0em rgba(51,51,51, 0.2), 1.75em 1.75em 0 0em rgba(51,51,51, 0.2), 0em 2.5em 0 0em rgba(51,51,51, 0.5), -1.8em 1.8em 0 0em rgba(51,51,51, 0.7), -2.6em 0em 0 0em #333333, -1.8em -1.8em 0 0em rgba(51,51,51, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(51,51,51, 0.2), 1.8em -1.8em 0 0em rgba(51,51,51, 0.2), 2.5em 0em 0 0em rgba(51,51,51, 0.2), 1.75em 1.75em 0 0em rgba(51,51,51, 0.2), 0em 2.5em 0 0em rgba(51,51,51, 0.2), -1.8em 1.8em 0 0em rgba(51,51,51, 0.5), -2.6em 0em 0 0em rgba(51,51,51, 0.7), -1.8em -1.8em 0 0em #333333;
  }
}