<div id="threesixty">
    <div id="spinner">
        <span>0%</span>
    </div>
    <ol id="threesixty_images"></ol>
</div>
<script src="assets/libs/heartcode-canvasloader-min.js"></script>
<script src="assets/libs/jquery-1.11.0.min.js"></script>
<script src="assets/libs/okzoom.min.js"></script>
<script src="assets/libs/threesixty.js"></script>