<div class="banners">
    <div class="banner">
        <a href="#" class="banner__link"></a>
        <img class="banner__picture" src="http://placehold.alanev.ru/800x400" srcset="http://placehold.alanev.ru/800x400/ff0 1x, http://placehold.alanev.ru/1600x800 2x" alt="">
        <div class="banner__content">
            <div class="banner__subtitle">Аллергия у ребенка?</div>
            <div class="banner__title">Подарите ему конструктор!</div>
        </div>
    </div>
    <div class="banner">
        <a href="#" class="banner__link"></a>
        <img class="banner__picture" src="http://placehold.alanev.ru/800x400" srcset="http://placehold.alanev.ru/800x400/f00 1x, http://placehold.alanev.ru/1600x800 2x" alt="">
        <div class="banner__content">
            <div class="banner__subtitle">Каждый ребенок - романтик</div>
            <div class="banner__title">Но не так как в “Титанике”</div>
        </div>
    </div>
</div>