.banner{
    
    height: 400px;
    
    font-style: italic;
    
    color: white;
    
    position: relative;
    
    @media (--desktop-more) {
        flex: 1;
    }
    
    // mods
    &:first-child{
        text-align: right;
    }
	
    // wrap
    &s{
        @extend .b-grid;
        @extend .b-grid_row;
        
        overflow: hidden; 
        position: relative;
        
        @media (--desktop-less) {
            flex-direction: column;
        }
        
        &:after{
            content: '';
            position: absolute 0;
            z-index: 30;
        
            background-image: url('assets/img/mask-clouds.svg');
            background-position: center 0;
            background-repeat: repeat-x;
            background-size: auto 100px;
        }
    }
	// elements
    &:after{
        content: '';
        position: absolute 0;
        z-index: 10;
        
        background: color(black a(.5));
    }
	&__{
        &link{
            position: absolute 0;
            z-index: 40;
        }
        &picture{
            size: 100%;
            object-fit: cover;
        }
        &content{
            position: absolute * 10% 3rem;
            z-index: 20;
        }
        &title{
            font-weight: 600;
            font-size: 2.375rem;
        }
        &subtitle{
            font-weight: 300;
            font-size: 1.5rem;
        }
	}
}