.filter{
	
	// elements
	&__{
        &arrow{
            size: 20px;
            margin: 0 0 0 1rem;
            
            fill: currentColor;
        }
		&title{
            @extend .aside__title;
            
            color: $color__font_light;
            cursor: pointer;
        }
        &title._active + &content{
            max-height: 400px;
            padding: 1rem;
            border-top: 1px dashed $color__gray_dark;
        }
        &content{
            max-height: 0px;
            padding: 0 1rem;
            overflow: hidden;
            
            transition: $animation__duration;
        }
	}
}