<div class="filter">
    <div class="filter__title" onclick="this.classList.toggle('_active')">
        ПО ВОЗРАСТУ
        <svg class="filter__arrow">
            <use xlink:href="assets/img/b-svg.svg#b-svg__arrow-down"></use>
        </svg>
    </div>
    <div class="filter__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt magni molestiae enim est ipsa quae dolorum aliquam sapiente architecto, quod unde eaque sequi harum rem dolores temporibus placeat saepe.
    </div>
</div>